body {
    font-family: 'Red Hat Display', sans-serif;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

/* Home Page */

.home-first {
    height: 100vh;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black
}

.home-title {
    font-weight: 900;
    font-size: 60px;
}

.button-enter-home {
    padding-top: 25px;
}

.enter-home {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 22px;
}

.home-second {
    height: 100vh;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: "white"
}

.paragraph-home {
    font-size: 22px;
    font-weight: 300;
}

.home-third {
    background-image:
            linear-gradient(to right, rgba(181, 186, 187, 1), rgba(181, 186, 187, 0)),
            url('../images/ourCompanyHome.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}

.our-company-home {
    font-size: 50px;
    font-weight: 600
}

.div-our-company-text {
    padding-top: 15px;
}

.our-company-text {
    font-size: 25px;
    font-weight: 300
}

.home-fourth {
    text-align: center;
    justify-content: center;
    background-color: white
}

.our-products-title {
    margin-top: 60px;
    font-size: 50px;
    font-weight: 800
}

.our-products-text-box {
    margin-top: 25px
}

.our-products-description {
    font-size: 22px;
    font-weight: 300
}

.product-one {
    background-image: url('../images/productOne.png');
    height: 40vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain
}
.product-three {
    background-image: url('../images/productThree.png');
    height: 40vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain
}

.product-name {
    font-size: 50px;
    font-weight: 900;
    color: white
}

.footer-desktop-text {
    font-weight: 700;
    font-size: 22px
}

.footer-logo-desktop {
    padding-left: 5px;
}

.footer-logo-mobile {
    width: 190px;
    height: 190px
}

.footer-mobile-subtitle {
    font-size: 15px;
    font-weight: 700;
}

.footer-mobile-text {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {
    .content-desktop {display: none}
    .content-mobile {display: block}
}


