body {
    font-family: 'Red Hat Display', sans-serif;
}

a {
    color: inherit; /* */
    text-decoration: inherit; /* no underline */
}

a:hover {
    color: #707070; /*  */
    text-decoration: #707070; /* no underline */
}

.btn-outline-light:hover {
    color: #707070;
    border-color: #707070;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {
    .content-desktop {display: none}
    .content-mobile {display: block}
}

/* Nav Bar */

.nav-menu {
    background: transparent;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all 0.4s;
}

@media (max-width: 34em) {
    .nav-menu {
        background: #121212 !important;
    }
}

.nav-item {
    padding: 0 10px;
}

.menu-item {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.menu-item-mobile {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

@media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
}

.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

.ham {
    transition: width 0.3s;
    background: #f9f8f7;
}

.line1,
.line3 {
    width: 28px;
    height: 2px;
    margin: 6px;
    transition: 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
    color: yellow;
}

.nav-active {
    color: yellow;
}

.dropdown-item {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.costum-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #121212 !important;
    position: fixed;
}

.white-fill {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}

.nav-m {
    margin: 0 !important;
}

.nav>li {
    display: inline-block;
}

.relative-div {
    position: relative;
}

.absolute-contact-right {
    position: absolute;
    top: 0%;
    right: -110%;
}

.dark-button {
    color: #121212
}

.button-mobile-absolute {
    position: absolute;
    bottom: 20%
}

.send-contact-mobile {
    padding-right: 70px;
    padding-left: 70px;
    font-weight: 700;
    font-size: 32px;
    width: 60vw;
}

.title-mobile-abolute {
    position: absolute;
   top: 30%
}

/* Home Page */

.home-first {
    background-image: url('../images/temporayHomeImage.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative
}

.home-social {
    position: absolute;
    top: 50%;
    left: 5%
}

.home-title {
    font-weight: 900;
    font-size: 60px;
    color: white
}

.button-enter-home {
    padding-top: 25px;
}

.enter-home {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 22px;
}

.home-second {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: "white"
}

.paragraph-desktop {
    font-size: 22px;
    font-weight: 300
}

.paragraph-mobile {
    font-size: 25px;
    font-weight: 300
}

.home-third {
    background-image:
            linear-gradient(to right, rgba(181, 186, 187, 1), rgba(181, 186, 187, 0)),
            url('../images/ourCompanyHome.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}

.home-third-mobile {
    background-image:
            linear-gradient(to right, rgba(181, 186, 187, 1), rgba(181, 186, 187, 0)),
            url('../images/ourCompanyMobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 522px;
}

.our-company-home {
    font-size: 50px;
    font-weight: 600
}

.div-our-company-text {
    padding-top: 15px;
}

.our-company-text {
    font-size: 25px;
    font-weight: 300
}

.home-fourth {
    text-align: center;
    justify-content: center;
    background-color: white
}
.home-fourth-mobile {
    background-color: white
}

.our-products-title {
    margin-top: 60px;
    font-size: 50px;
    font-weight: 800
}

.our-products-text-box {
    margin-top: 25px
}

.our-products-description {
    font-size: 22px;
    font-weight: 300
}

.product-one {
    background-image: url('../images/productOne.png');
    height: 40vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%
}

.product-two{
    background-image: url('../images/productTwo.png');
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%
}

.product-two-solid {
    background-image: url('../images/productTwoSolid.png');
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%
}

.product-three {
    background-image: url('../images/productThree.png');
    height: 40vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%
}

.product-fourth {
    background-image: url('../images/productFourth.png');
    height: 40vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%
}

.product-name {
    font-size: 50px;
    font-weight: 900;
    color: white
}

.mobile-product {
    position: relative;
    text-align: center;
    color: white
}

.mobile-product-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 900;
    color: white
}

.enter-product-mobile {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 30px;
}
.footer-desktop-text {
    font-weight: 700;
    font-size: 22px
}

.footer-logo-desktop {
    padding-left: 5px;
}

.footer-logo-mobile {
    width: 190px;
    height: 190px
}

.footer-mobile-subtitle {
    font-size: 15px;
    font-weight: 700;
}

.footer-mobile-text {
    font-size: 22px;
    font-weight: 700
}

/* Extra */

.hero-section {
    background:
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
            url("https://images.pexels.com/photos/240572/pexels-photo-240572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hero {
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sub-text-hero {
    font-family: "Dosis", sans-serif;
    letter-spacing: 9px;
    color: orange;
}

.nav-bottom {
    background: transparent !important;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.item-bottom {
    padding: 0 20px;
    transition: 0.2s;
    font-size: 20px;
}

.item-bottom:hover {
    background: transparent;
    transform: translateY(-2px);
}

/* Contact */

.contact-home {
    background-image:
            linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,0)),
            url('../images/contact.png');
    height: 100vh;
    background-size: contain, cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: left;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.contact-home-mobile {
    background-image:
            linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,0)),
            url('../images/contact.png');
    height: 100vh;
    background-size: contain, cover;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.mobile-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter-contact {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 22px;
}

.enter-contact-mobile {
    padding-right: 70px;
    padding-left: 70px;
    font-weight: 700;
    font-size: 22px;
}

/* Contact */


.text-get {
    font-size: 50px;
    font-weight: 700
}

.title-form {
    font-size: 20px;
    font-weight: 300
}

/* Our products */

.our-products-home {
    background-image: url('../images/ourProducts.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: left;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.product-sutbtitle {
    font-size: 30px;
}









